@import "_productBlock";
@import "_shoppingCart";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  font-family: 'Arial', sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
.header {
  width: 1000px;
  height: 100px;
  background: #000000;
  padding: 23px 0 0 10px;
  position: fixed;
}
.content {
  padding: 100px 10px 50px 10px;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.32);
}
footer {
  height: 125px;
  width: 100%;
  background-color: #10546b;
}

